<div class="flex w-full h-20 bg-cyan-950 items-center justify-between px-10 py-2 text-white">
    <img class="font-bold cursor-pointer w-20 h-auto" routerLink="/" src="images/wikicheck_white.png"/>
    <ul class="flex flex-row space-x-5">
        <li class="font-light cursor-pointer" routerLink="/fact-check">Fact Check</li>
        <li class="font-light cursor-pointer" routerLink="/history">History</li>
        <li class="font-light cursor-pointer" routerLink="/evaluation">Evaluation</li>
    </ul>
</div>
