name: wikicheck
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - transformers>=4.57.3
      - torch>=2.6.0
      - datasets
      - scikit-learn
      - numpy
      - tqdm
      - fastapi
      - uvicorn[standard]
      - python-multipart
      
