name: wikicheck
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - transformers
      - accelerate
      - torch
      - datasets
      - scikit-learn
      - numpy
      - tqdm
      - fastapi
      - uvicorn[standard]
      - python-multipart
      
